<section class="header">
    <nav>
        <a href=""><img src="assets/eduford_img/logo.png" alt="" class="logo"></a>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-close" id="close"></i>
            <ul>
                <li><a href="">HOME</a></li>
                <li><a href="">ABOUT</a></li>
                <li><a href="">COURSE</a></li>
                <li><a href="">BLOG</a></li>
                <li><a href="">CONTACT</a></li>
            </ul>
        </div>
        <!-- <i class="fa-solid fa-bars"></i> -->
        <span style="color: white;padding:10px;" (click)="open()">Hell</span>

    </nav>
    <h1>Conatct Us</h1>
</section>


<!-- ------------------------About Us Content---------------------------- -->
<section class="location">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3890.4341803084135!2d74.85613831413372!3d12.815196221759924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba35c0ec93b39bd%3A0x954617627dd474a9!2sShree%20Kala%20Bharathi%20Music%20School!5e0!3m2!1sen!2sin!4v1663487039268!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
<section class="contact-us">
    <div class="contact-us-row">
        <div class="contact-col">
           <div>
              <i class="fa fa-home"></i>
              <span>
                <h5>XYZ Road, ABC Building</h5>
                <p>Bangalore, Karnataka, IN</p>
              </span>
           </div>
           <div>
            <i class="fa fa-phone"></i>
            <span>
              <h5>+1 01848787878</h5>
              <p>Monday To Saturday, 10AM to 6PM</p>
            </span>
         </div>
         <div>
            <i class="fa fa-envelope-o"></i>
            <span>
              <h5>info@easytutorial.com</h5>
              <p>Email Us Your query</p>
            </span>
         </div>
        </div>
        <div class="contact-col">
            <form action="">
                <input type="text" placeholder="Enter your name" required>
                <input type="email" placeholder="Enter your email" required>
                <input type="text" placeholder="Enter your subject" required>
                <textarea rows="8"></textarea>
                <button type="submit" class="btn-send-msg">SendMessage</button>
            </form>
        </div>
    </div>
</section>








<section class="footer">
    <h4>About Us</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor quia repudiandae officiis!</p>
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
    </div>
    <p>Made with <i class="fa fa-heart-o"></i> by Easy Tutorial</p>
</section>