<section class="header">
    <nav>
        <a href=""><img src="assets/eduford_img/logo.png" alt="" class="logo"></a>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-close" id="close"></i>
            <ul>
                <li><a href="">HOME</a></li>
                <li><a href="">ABOUT</a></li>
                <li><a href="">COURSE</a></li>
                <li><a href="">BLOG</a></li>
                <li><a href="">CONTACT</a></li>
            </ul>
        </div>
        <!-- <i class="fa-solid fa-bars"></i> -->
        <!-- <span style="color: white;padding:10px;" (click)="open()">Hell</span> -->

    </nav>
    <h1>About Us</h1>
</section>


<!-- ------------------------About Us Content---------------------------- -->
<section class="about-us">
    <div class="about-row">
       <div class="about-col">
         <h1>We are the world's largest Uniersity</h1>
         <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam vero necessitatibus voluptate adipisci quod consequuntur debitis sit, fugiat tempore eius architecto explicabo delectus inventore, veniam odio! Fugit asperiores quas quisquam!</p>
         <a href="">EXPLORE NOW</a>
       </div>
       <div class="about-col">
        <img src="assets/eduford_img/about.jpg" alt="">
       </div>

    </div>

</section>







<section class="footer">
    <h4>About Us</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor quia repudiandae officiis!</p>
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
    </div>
    <p>Made with <i class="fa fa-heart-o"></i> by Easy Tutorial</p>
</section>